@import "reset";

//VARIABLES

//Colors
$softred: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkdesaturatedcyan: hsl(167, 40%, 24%); //graphic design text
$darkblue: hsl(198, 62%, 26%); //photography text
$darkmoderatecyan: hsl(168, 34%, 41%); //footer
$vdarkdesaturatedblue: hsl(212, 27%, 19%);
$vdarkgrayishblue: hsl(213, 9%, 39%);
$darkgreyishblue: hsl(232, 10%, 55%);
$greyishblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//Typography
$bodycopy: 18px;

.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700, 900;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
  }

$frauncesfont: "Fraunces", serif;

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

$barlowfont: "Barlow", sans-serif;

//Responsive

$layoutbreaklarge: 1440px;

//END VARIABLES

header {
    display:flex;
    flex-direction: column;
    position:relative;
    width: 100vw;
    height: 60vh;

    .logo {
        position:absolute;
        left:2vw;
        top:2vh;
    }

    nav {
        position:absolute;
        top:2vh;
        right:2vw;
        display:flex;
        justify-content: space-between;
        align-content:flex-end;
        width:60%;
        
        a {
            color: $white;
            text-decoration: none;
            font-family: $frauncesfont;
            font-size:3.5vw;
        }
    }

    .head {
        z-index:-1;
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;

        img {
            object-fit:cover;
            width:100%;
            height:100%;
        }
    }

    .title {
        position:absolute;
        text-align:center;
        top:10vh;
        width:100%;
        font-family: $frauncesfont;
        font-weight: 900;
        color: $white;
        text-transform:uppercase;
        font-size:10vw;
        line-height: 7vh;
    }

    .arrow {
        width:100vw;
        position:absolute;
        top:25vh;
        display:flex;
        justify-content: center;

        img {
            height:15vh;
        }
    }
}

main {
    width:100vw;
    display:flex;
    flex-direction: column;

    .sectionegg {
        height:90vh;

        .egg {
            width:100%;
            height:40vh;
    
            img {
                object-fit:cover;
                width:100%;
                height:100%;
            }
        }

        .transformbrand {
            background-color:$white;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align:center;
            height:50vh;

            .darktitle {
                color:$vdarkdesaturatedblue;
                font-family: $frauncesfont;
                font-weight:bold;
                font-size:10vw;
                line-height:7vh;
            }

            .grayp {
                color:$vdarkgrayishblue;
                font-family: $barlowfont;
                font-weight:600;
            }
        }
    }

}