@import "reset";

//VARIABLES

//Colors
$softred: hsl(7, 99%, 70%);
$sheersoftred: hsla(7, 99%, 70%, 0.3);
$yellow: hsl(51, 100%, 49%);
$sheeryellow: hwb(51 0% 2% / 0.3);
$darkdesaturatedcyan: hsl(167, 40%, 24%); //graphic design text
$darkblue: hsl(198, 62%, 26%); //photography text
$darkmoderatecyan: hsl(168, 34%, 41%); //footer
$vdarkdesaturatedblue: hsl(212, 27%, 19%);
$vdarkgrayishblue: hsl(213, 9%, 39%);
$darkgreyishblue: hsl(232, 10%, 55%);
$greyishblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//Typography
$bodycopy: 18px;

@font-face {
    font-family: 'frauncesblack';
    src: url('fonts/fraunces-variablefont_softwonkopszwght-webfont.woff2') format('woff2'),
         url('fonts/fraunces-variablefont_softwonkopszwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowextrabold';
    src: url('fonts/barlow-extrabold-webfont.woff2') format('woff2'),
         url('fonts/barlow-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowbold';
    src: url('fonts/barlow-bold-webfont.woff2') format('woff2'),
         url('fonts/barlow-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700, 900;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
  }

$frauncesfont: 'frauncesblack', serif;

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

$barlowfont: "Barlow", sans-serif;

//Responsive

$layoutbreaklarge: 1440px;

//END VARIABLES

header {
    display:flex;
    flex-direction: column;
    position:relative;
    width: 100vw;
    height: 60vh;

    .logo {
        position:absolute;
        left:2vw;
        top:2vh;
    }

    nav {
        position:absolute;
        top:2vh;
        right:2vw;
        display:flex;
        justify-content: space-between;
        align-content:flex-end;
        width:60%;
        
        a {
            color: $white;
            text-decoration: none;
            font-family: $frauncesfont;
            font-size:3.5vw;
        }
    }

    .head {
        z-index:-1;
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;

        img {
            object-fit:cover;
            width:100%;
            height:100%;
        }
    }

    .title {
        position:absolute;
        text-align:center;
        top:10vh;
        width:100%;
        font-family: $frauncesfont;
        font-weight: 900;
        color: $white;
        text-transform:uppercase;
        font-size:10vw;
        line-height: 7vh;
    }

    .arrow {
        width:100vw;
        position:absolute;
        top:25vh;
        display:flex;
        justify-content: center;

        img {
            height:15vh;
        }
    }
}

main {
    width:100vw;
    display:flex;
    flex-direction: column;

    .sectionegg {
        height:90vh;

        .egg {
            width:100%;
            height:40vh;
    
            img {
                object-fit:cover;
                width:100%;
                height:100%;
            }
        }

        .transformbrand {
            background-color:$white;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align:center;
            height:50vh;

            .darktitle {
                color:$vdarkdesaturatedblue;
                font-family: $frauncesfont;
                font-weight:900;
                font-size:10vw;
                line-height:7vh;
            }

            .grayp {
                color:$vdarkgrayishblue;
                font-family: $barlowfont;
                font-weight:600;
                padding-left:10vw;
                padding-right:10vw;
                font-size: $bodycopy;
            }

            .learnmore {
                color: $vdarkgrayishblue;
                font-family: $frauncesfont;
                font-weight: 600;
                text-transform: uppercase;
                z-index:5;
                position:relative;
            }

            .learnmore::before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 15%;
                width: 27vw;
                height: 1vh;
                transform: translateX(-50%);
                background: $sheeryellow;
                z-index: -1;
                border-radius:5px;
              }

        }
    }

    .sectionstand {
        height:90vh;

        .eggstand {
            width:100%;
            height:40vh;

            img {
                object-fit:cover;
                width:100%;
                height:100%;
            }
        }

        .standout {
            background-color:$white;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align:center;
            height:50vh;

            .darktitle {
                color:$vdarkdesaturatedblue;
                font-family: $frauncesfont;
                font-weight:900;
                font-size:10vw;
                line-height:7vh;
            }

            .grayp {
                color:$vdarkgrayishblue;
                font-family: $barlowfont;
                font-weight:600;
                padding-left:10vw;
                padding-right:10vw;
                font-size: $bodycopy;
            }

            .learnmore {
                color: $vdarkgrayishblue;
                font-family: $frauncesfont;
                font-weight: 600;
                text-transform: uppercase;
                z-index:5;
                position:relative;
            }

            .learnmore::before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 15%;
                width: 27vw;
                height: 1vh;
                transform: translateX(-50%);
                background: $sheersoftred;
                z-index: -1;
                border-radius:5px;
            }

        }
    }
    
    .sectioncherry {
        height:70vh;
        position:relative;

        .cherry {
            width:100%;
            height:100%;
            position:relative;
            overflow:hidden;

            img {
                object-fit:cover;
                position:absolute;
                width:100%;
                height:100%;
                object-position: 50% 0%;
                transform:scale(1.4);
                z-index:-1;
            }
        }

        .graphicdesign {
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align:center;
            height:20vh;
            z-index:1;
            position:absolute;
            bottom:4vh;

            .dctitle {
                color:$darkdesaturatedcyan;
                font-family: $frauncesfont;
                font-weight:900;
                font-size:10vw;
                line-height:7vh;
            }

            .dcyanp {
                color:$darkmoderatecyan;
                font-family: $barlowfont;
                font-weight:600;
                padding-left:10vw;
                padding-right:10vw;
                font-size: $bodycopy;
            }
        }
    }

    .sectionclem {
        height:70vh;
        width:100%;
        position:relative;

        .clem {
            width:100%;
            height:100%;
            position:relative;
            overflow:hidden;

            img {
                object-fit:cover;
                position:absolute;
                width:100%;
                height:100%;
                object-position: 50% 0%;
                transform:scale(1.2);
                z-index:-1;
            }
        }

        .photography {
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align:center;
            height:20vh;
            z-index:1;
            position:absolute;
            bottom:4vh;

            .modbluetitle {
                color:$darkblue;
                font-family: $frauncesfont;
                font-weight:900;
                font-size:10vw;
                line-height:7vh;
            }

            .modbluep {
                color:$darkblue;
                font-family: $barlowfont;
                font-weight:600;
                padding-left:10vw;
                padding-right:10vw;
                font-size: $bodycopy;
            }
        }
    }

    .testimonials {
        height:140vh;
        position: relative;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        align-items:center;

        .clientstestimonials {
            font-family:$frauncesfont;
            color:$greyishblue;
            text-transform: uppercase;
            font-size:3.5vw;
            letter-spacing: 1vw;
            margin-top:2vh;
        }

        .client {
            height:40vh;
            width:100%;
            display:flex;
            flex-direction:column;
            justify-content: space-around;
            align-items:center;

            .clientp {
                border-radius:90px;
                overflow:hidden;
                width:10vh;
            }

            .tquote {
                margin-left:10vw;
                margin-right: 10vw;
                font-family: $barlowfont;
                font-weight:600;
                text-align:center;
                color:$darkdesaturatedcyan;
            }

            .clientname {
                font-family:$frauncesfont;
                font-weight:900;
                font-size:3.5vw;
                color:$vdarkgrayishblue;
                margin-top:-2vh;
            }

            .clienttitle {
                color:$greyishblue;
                font-family: $barlowfont;
                margin-top:-5vh;
            }
        }
    }
}