/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: "frauncesblack";
  src: url("fonts/fraunces-variablefont_softwonkopszwght-webfont.woff2") format("woff2"), url("fonts/fraunces-variablefont_softwonkopszwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowextrabold";
  src: url("fonts/barlow-extrabold-webfont.woff2") format("woff2"), url("fonts/barlow-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowbold";
  src: url("fonts/barlow-bold-webfont.woff2") format("woff2"), url("fonts/barlow-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700, 900;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 60vh;
}
header .logo {
  position: absolute;
  left: 2vw;
  top: 2vh;
}
header nav {
  position: absolute;
  top: 2vh;
  right: 2vw;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  width: 60%;
}
header nav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-family: "frauncesblack", serif;
  font-size: 3.5vw;
}
header .head {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
header .head img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
header .title {
  position: absolute;
  text-align: center;
  top: 10vh;
  width: 100%;
  font-family: "frauncesblack", serif;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 10vw;
  line-height: 7vh;
}
header .arrow {
  width: 100vw;
  position: absolute;
  top: 25vh;
  display: flex;
  justify-content: center;
}
header .arrow img {
  height: 15vh;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
main .sectionegg {
  height: 90vh;
}
main .sectionegg .egg {
  width: 100%;
  height: 40vh;
}
main .sectionegg .egg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
main .sectionegg .transformbrand {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 50vh;
}
main .sectionegg .transformbrand .darktitle {
  color: hsl(212, 27%, 19%);
  font-family: "frauncesblack", serif;
  font-weight: 900;
  font-size: 10vw;
  line-height: 7vh;
}
main .sectionegg .transformbrand .grayp {
  color: hsl(213, 9%, 39%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 18px;
}
main .sectionegg .transformbrand .learnmore {
  color: hsl(213, 9%, 39%);
  font-family: "frauncesblack", serif;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 5;
  position: relative;
}
main .sectionegg .transformbrand .learnmore::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 15%;
  width: 27vw;
  height: 1vh;
  transform: translateX(-50%);
  background: hwb(51 0% 2%/0.3);
  z-index: -1;
  border-radius: 5px;
}
main .sectionstand {
  height: 90vh;
}
main .sectionstand .eggstand {
  width: 100%;
  height: 40vh;
}
main .sectionstand .eggstand img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
main .sectionstand .standout {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 50vh;
}
main .sectionstand .standout .darktitle {
  color: hsl(212, 27%, 19%);
  font-family: "frauncesblack", serif;
  font-weight: 900;
  font-size: 10vw;
  line-height: 7vh;
}
main .sectionstand .standout .grayp {
  color: hsl(213, 9%, 39%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 18px;
}
main .sectionstand .standout .learnmore {
  color: hsl(213, 9%, 39%);
  font-family: "frauncesblack", serif;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 5;
  position: relative;
}
main .sectionstand .standout .learnmore::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 15%;
  width: 27vw;
  height: 1vh;
  transform: translateX(-50%);
  background: hsla(7, 99%, 70%, 0.3);
  z-index: -1;
  border-radius: 5px;
}
main .sectioncherry {
  height: 70vh;
  position: relative;
}
main .sectioncherry .cherry {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
main .sectioncherry .cherry img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
  transform: scale(1.4);
  z-index: -1;
}
main .sectioncherry .graphicdesign {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 20vh;
  z-index: 1;
  position: absolute;
  bottom: 4vh;
}
main .sectioncherry .graphicdesign .dctitle {
  color: hsl(167, 40%, 24%);
  font-family: "frauncesblack", serif;
  font-weight: 900;
  font-size: 10vw;
  line-height: 7vh;
}
main .sectioncherry .graphicdesign .dcyanp {
  color: hsl(168, 34%, 41%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 18px;
}
main .sectionclem {
  height: 70vh;
  width: 100%;
  position: relative;
}
main .sectionclem .clem {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
main .sectionclem .clem img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
  transform: scale(1.2);
  z-index: -1;
}
main .sectionclem .photography {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 20vh;
  z-index: 1;
  position: absolute;
  bottom: 4vh;
}
main .sectionclem .photography .modbluetitle {
  color: hsl(198, 62%, 26%);
  font-family: "frauncesblack", serif;
  font-weight: 900;
  font-size: 10vw;
  line-height: 7vh;
}
main .sectionclem .photography .modbluep {
  color: hsl(198, 62%, 26%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 18px;
}
main .testimonials {
  height: 140vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .testimonials .clientstestimonials {
  font-family: "frauncesblack", serif;
  color: hsl(210, 4%, 67%);
  text-transform: uppercase;
  font-size: 3.5vw;
  letter-spacing: 1vw;
  margin-top: 2vh;
}
main .testimonials .client {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .testimonials .client .clientp {
  border-radius: 90px;
  overflow: hidden;
  width: 10vh;
}
main .testimonials .client .tquote {
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-align: center;
  color: hsl(167, 40%, 24%);
}
main .testimonials .client .clientname {
  font-family: "frauncesblack", serif;
  font-weight: 900;
  font-size: 3.5vw;
  color: hsl(213, 9%, 39%);
  margin-top: -2vh;
}
main .testimonials .client .clienttitle {
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
  margin-top: -5vh;
}/*# sourceMappingURL=style.css.map */